@import '../core/Variables.scss';
@import '../core/Mixins';
@import '../core/Reset';

.header {
  width: 100%;
  min-height: 40vw;
  background: radial-gradient($grey, $dark);
  @include centerTotal;
  @include textStyle($font1, regular, 1.8rem, $light);
  @media (min-width: 720px) {
    @include textStyle($font1, regular, 3rem, $light);
  }
  text-shadow: 0.3rem, 0.1rem, 2rem, black;
}
