@import '../core/Variables.scss';
@import '../core/Mixins';
@import '../core/Reset';

.main__ul {
  @include centerTotal;
  margin: 0;
  padding: 0;
  width: 100%;
  @media (min-width: 720px) {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    justify-items: center;
  }
  &--li,
  .link {
    cursor: pointer;
    width: 80%;
    margin: 2.5rem 0;
  }
}
