// FUENTES
$font1:'Architects Daughter', cursive;;
$font2:'Shadows Into Light', cursive;;

// COLORES
$light: white;
$dark: black;
$grey: grey;

$mainColor: rgb(255, 84, 37);
$secondColor: rgb(26, 131, 251);

//transparencias
$lightT: rgba(255, 255, 255, 0.5);
$darkT: rgba(0, 0, 0, 0.5);
$greyT: rgba(128, 128, 128, 0.5);

$mainColorT: rgba(255, 84, 37, 0.5);
$secondColorT: rgba(26, 131, 251, 0.5);
